<ng-container>
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark">
      <a class="navbar-brand" routerLink="/video_player_list">WeeTube</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/video_player_list">Video Lists <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" 
            name="searchInput"
            type="search" 
            placeholder="Search" 
            aria-label="Search" 
            [(ngModel)]="searchInput"
            [disabled]="error"
            >
        </form>
      </div>
    </nav>
  
    <div class="video-list-wrapper" *ngIf="!error; else errorBlock">
      <div class="video-player"
          *ngFor="let video of videos | searchFilter: searchInput; let i = index" [attr.data-index]="i"
        >
          <a routerLink="/video_player_list/video_player_item/{{video.media_id}}">
            <div class="video-item" id={{video.media_id}}>
              <div class="preview-image-container">
                <img class="preview-image" src="{{video.preview_image}}">
              </div>
              <div class="video-details">
                <p class="video-title">{{video.name}}</p>
                <p class="video-description">{{video.description}}</p>
              </div>
            </div>
          </a>
      
      </div>
    </div>

    <ng-template #errorBlock>
      <div class="error-message-wrapper">
        <p class="error-message-text">{{error.status}} <br /> {{error.statusText}}</p>
      </div>
    </ng-template>
  
  </ng-container>

